html {
    font-family: "Trebuchet MS";
    background-color: darkolivegreen;
}

body {
}

h1 {
    font-family: "Segoe Script";
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #f15a29;
}

hr {
    border-color: aquamarine ;
    border-style: ridge;
    border-width: 50px;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    margin: auto;
    width: 760px;
    border: darkmagenta;
    border-color: darkmagenta;
    border-style: ridge;
    border-width: 50px;
    padding: 20px;
    /*background-color: #f15a29;*/
    /*background-color: #2bb673;*/
    background-color: aqua;
}

h3 {
    font-family: "Trebuchet MS";
    font-size: 40px;
}


.image-caption-container {
    float: left;
    margin-right: 50px;
    padding: 20px;
    max-width: 35%;
    text-align: center;
}































































































































































































































































































































ttt































































































































