html {
    font-family: "Trebuchet MS";
    background-color: -moz-default-color ;
}

body {
}

h1 {
    font-family: Georgia  ;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #f15a29;
}

hr {
    border-color: darkolivegreen ;
    border-style: inherit ;
    border-width: 100px;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    margin: auto;
    width: 760px;
    border: darkmagenta;
    border-color: darkmagenta;
    border-style: groove ;
    border-width: 10px;
    padding: 20px;
    /*background-color: #f15a29;*/
    /*background-color: #2bb673;*/
    background-color: blue;
    text-align: center;
}

h6 {
    background-color: orangered;
    color: cornflowerblue;
}


h3{
    background-color: aquamarine;
    color: coral;
}

h3 {
    font-family: "segoe script";
    font-size: 40px;
}

.image-caption-container {
    float: left;
    margin-right: 50px;
    padding: 20px;
    max-width: 35%;
    text-align: center;
}

p {
    background-color: lightgoldenrodyellow;
    color: blueviolet;
}


.kittenpics {
    clear: both;
    text-align: center;
    border: blanchedalmond ;
    border-color: -moz-mac-chrome-inactive ;
    border-style: groove ;
    border-width: 10px;
    padding: 20px;
    width: 545px;
}



























































































































































































































































































































ttt
















































































